.banner{
        background-color:aqua;
        width:100%;
        height:300px;
        margin-bottom:30px;
}
.banner-text{
        color:black;
         left:50%;
         top:210px;
         position:absolute;
         transform:transform

}
